SECRET_KEY=your_secret_key
DEBUG=True

EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL=your_email@gmail.com

PG_NAME=itg
PG_USER=postgres
PG_PASSWORD=Ivan28112008
PG_HOST='localhost'
PG_PORT=5432